USE [master]
GO
/****** Object:  Database [skintimeDb]    Script Date: 4/5/2025 9:03:39 AM ******/
CREATE DATABASE [skintimeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'skintimeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\skintimeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'skintimeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\skintimeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [skintimeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [skintimeDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [uniqueidentifier] NOT NULL,
	[title] [varchar](200) NOT NULL,
	[content] [varchar](2000) NOT NULL,
	[thumbnail] [varchar](200) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[status] [int] NOT NULL,
	[UserNavigationId] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[therapist_id] [uniqueidentifier] NULL,
	[reserved_date] [date] NOT NULL,
	[status] [int] NOT NULL,
	[reserved_start_time] [time](7) NOT NULL,
	[reserved_end_time] [time](7) NOT NULL,
	[checkin_time] [datetime2](7) NULL,
	[checkout_time] [datetime2](7) NULL,
	[note] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [uniqueidentifier] NOT NULL,
	[booking_id] [uniqueidentifier] NOT NULL,
	[therapist_rating] [int] NOT NULL,
	[service_rating] [int] NOT NULL,
	[therapist_feedback] [nvarchar](max) NOT NULL,
	[service_feedback] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [uniqueidentifier] NOT NULL,
	[order_no] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOption]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOption](
	[id] [uniqueidentifier] NOT NULL,
	[content] [varchar](200) NULL,
	[is_deleted] [bit] NOT NULL,
	[question_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuestionOption] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptionSkinType]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptionSkinType](
	[QuestionOptionNavigationId] [uniqueidentifier] NOT NULL,
	[SkinTypeNavigationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_QuestionOptionSkinType] PRIMARY KEY CLUSTERED 
(
	[QuestionOptionNavigationId] ASC,
	[SkinTypeNavigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [uniqueidentifier] NOT NULL,
	[service_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[duration] [int] NOT NULL,
	[thumbnail] [nvarchar](max) NOT NULL,
	[price] [decimal](16, 2) NOT NULL,
	[status] [int] NOT NULL,
	[service_category_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceImage]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceImage](
	[id] [uniqueidentifier] NOT NULL,
	[image_url] [nvarchar](max) NULL,
	[service_id ] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ServiceImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceSkinType]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceSkinType](
	[ServicesId] [uniqueidentifier] NOT NULL,
	[SkinTypesId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ServiceSkinType] PRIMARY KEY CLUSTERED 
(
	[ServicesId] ASC,
	[SkinTypesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinType]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinType](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SkinType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Therapist]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Therapist](
	[id] [uniqueidentifier] NOT NULL,
	[experiences] [int] NULL,
	[bio] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Therapist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[id] [uniqueidentifier] NOT NULL,
	[transaction_time] [datetime2](7) NULL,
	[amount] [decimal](16, 2) NULL,
	[is_refund] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[booking_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/5/2025 9:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [uniqueidentifier] NOT NULL,
	[fullname] [varchar](50) NOT NULL,
	[username] [varchar](40) NOT NULL,
	[email] [varchar](35) NOT NULL,
	[password] [varchar](250) NOT NULL,
	[avatar] [nvarchar](max) NULL,
	[gender] [int] NOT NULL,
	[phone_number] [varchar](11) NOT NULL,
	[role] [int] NOT NULL,
	[status] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250401134509_minhtri', N'9.0.3')
GO
INSERT [dbo].[Blog] ([id], [title], [content], [thumbnail], [author_id], [status], [UserNavigationId], [created_at], [last_update]) VALUES (N'f4ddd19e-7e93-454d-9ab9-1bfb0b483002', N'Understanding Acne and Treatment Options', N'Get to know the causes of acne and the most effective ways to treat it.', N'https://res.cloudinary.com/dao2comxx/image/upload/v1743628639/behrooz-nIhjEkVyEbg-unsplash_orfz6o.jpg', N'30228586-4160-4c85-9b9a-01a4c849152e', 1, N'30228586-4160-4c85-9b9a-01a4c849152e', CAST(N'2025-04-03T07:16:11.2100000' AS DateTime2), CAST(N'2025-04-03T07:16:11.2100000' AS DateTime2))
GO
INSERT [dbo].[Booking] ([id], [user_id], [service_id], [therapist_id], [reserved_date], [status], [reserved_start_time], [reserved_end_time], [checkin_time], [checkout_time], [note], [created_at], [last_update]) VALUES (N'a909ca76-1bec-4a41-bc23-99af8f20460e', N'56dd4c23-3422-4b13-a2fb-1999de6c481c', N'5e691440-b613-4d82-a0da-772d2c5a8d78', N'998535a5-3fcb-477e-bcc6-defc18485c4c', CAST(N'2025-04-05' AS Date), 0, CAST(N'08:00:00' AS Time), CAST(N'09:20:00' AS Time), NULL, NULL, N'', CAST(N'2025-04-05T07:53:18.4515581' AS DateTime2), CAST(N'2025-04-05T07:53:18.4515608' AS DateTime2))
GO
INSERT [dbo].[Feedback] ([id], [booking_id], [therapist_rating], [service_rating], [therapist_feedback], [service_feedback], [created_at], [last_update]) VALUES (N'46958512-3b17-488b-8bd4-08dd73de6fea', N'f12ebabf-dd70-4f8d-b587-bd08420c79d6', 4, 4, N'éefs', N'sdfdsdsdsf', CAST(N'2025-04-05T08:08:55.3458727' AS DateTime2), CAST(N'2025-04-05T08:08:55.3458736' AS DateTime2))
INSERT [dbo].[Feedback] ([id], [booking_id], [therapist_rating], [service_rating], [therapist_feedback], [service_feedback], [created_at], [last_update]) VALUES (N'707b55bf-1dfd-4e72-8bd5-08dd73de6fea', N'21da5f04-e1fd-477d-9043-9945b6bb9154', 4, 4, N'ádsadas', N'ádsadsdsds', CAST(N'2025-04-05T08:17:07.1437561' AS DateTime2), CAST(N'2025-04-05T08:17:07.1437564' AS DateTime2))
GO
INSERT [dbo].[Question] ([id], [order_no], [content], [created_at], [last_update]) VALUES (N'dd0dfb40-1e37-4dad-9c5b-7390a41749d9', 4, N'Do you like your skin when it?', CAST(N'2024-04-01T16:17:10.0000000' AS DateTime2), CAST(N'2024-04-11T11:06:49.0000000' AS DateTime2))
INSERT [dbo].[Question] ([id], [order_no], [content], [created_at], [last_update]) VALUES (N'2bbf5a81-7689-4a82-be97-7673a73558b0', 1, N'How does your skin feel?', CAST(N'2024-04-01T16:01:43.0000000' AS DateTime2), CAST(N'2024-04-02T21:52:38.0000000' AS DateTime2))
INSERT [dbo].[Question] ([id], [order_no], [content], [created_at], [last_update]) VALUES (N'97ac0c14-da5b-42d8-b5e3-82c9b1935644', 2, N'Do you have acne and blackheads?', CAST(N'2024-04-01T16:05:42.0000000' AS DateTime2), CAST(N'2024-04-08T20:22:17.0000000' AS DateTime2))
GO
INSERT [dbo].[QuestionOption] ([id], [content], [is_deleted], [question_id], [created_at], [last_update]) VALUES (N'f1a2b3c4-1234-4bcd-9765-012345678901', N'C. Usually when I don’t wash my face with natural cleansers', 0, N'99985e08-5079-4abf-bcd1-d34f9406558d', CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2), CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2))
INSERT [dbo].[QuestionOption] ([id], [content], [is_deleted], [question_id], [created_at], [last_update]) VALUES (N'a2b3c4d5-2345-4cde-0876-123456789012', N'D. Once a month', 0, N'99985e08-5079-4abf-bcd1-d34f9406558d', CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2), CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2))
INSERT [dbo].[QuestionOption] ([id], [content], [is_deleted], [question_id], [created_at], [last_update]) VALUES (N'b3c4d5e6-3456-4def-1987-234567890123', N'A. Has no pimples', 0, N'dd0dfb40-1e37-4dad-9c5b-7390a41749d9', CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2), CAST(N'2025-04-01T23:35:55.3300000' AS DateTime2))
GO
INSERT [dbo].[QuestionOptionSkinType] ([QuestionOptionNavigationId], [SkinTypeNavigationId]) VALUES (N'f1a2b3c4-1234-4bcd-9765-012345678901', N'e587c5e7-1584-4714-ad40-128a38fc7c2f')
INSERT [dbo].[QuestionOptionSkinType] ([QuestionOptionNavigationId], [SkinTypeNavigationId]) VALUES (N'f1a2b3c4-1234-4bcd-9765-012345678901', N'8c1f2003-65df-441c-b23a-2d363a376ef5')
INSERT [dbo].[QuestionOptionSkinType] ([QuestionOptionNavigationId], [SkinTypeNavigationId]) VALUES (N'f1a2b3c4-1234-4bcd-9765-012345678901', N'98697bab-8303-47e4-b5c7-2fdcf5ee34bd')
GO
INSERT [dbo].[ServiceCategory] ([id], [name], [status], [created_at], [last_update]) VALUES (N'912b6de1-a22e-4c8b-9f73-3b36b07e47c4', N'Basic Skin Care', N'In Progress', CAST(N'2024-04-01T16:16:53.0000000' AS DateTime2), CAST(N'2024-04-08T23:55:55.0000000' AS DateTime2))
INSERT [dbo].[ServiceCategory] ([id], [name], [status], [created_at], [last_update]) VALUES (N'52b8f043-1219-422b-8860-3b8df7e04b75', N'Intensive Skin Care', N'Completed', CAST(N'2024-04-01T16:09:12.0000000' AS DateTime2), CAST(N'2024-04-07T10:43:53.0000000' AS DateTime2))
INSERT [dbo].[ServiceCategory] ([id], [name], [status], [created_at], [last_update]) VALUES (N'b7725073-18c5-4d32-8f08-b16768935e02', N'High-Tech Skin Detoxification', N'Suspended', CAST(N'2024-04-01T16:18:06.0000000' AS DateTime2), CAST(N'2024-04-02T04:08:54.0000000' AS DateTime2))
GO
INSERT [dbo].[ServiceImage] ([id], [image_url], [service_id ], [created_at], [last_update]) VALUES (N'396596ba-c586-4357-9c87-0b60c2c394f2', N'https://res-console.cloudinary.com/dao2comxx/thumbnails/v1/image/upload/v1743637598/dHhnZGVhdmszbjV1MnFvemppbjQ=/drilldown', N'f4b0eabb-fdab-43af-b353-5ccd16fe1305', CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2), CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2))
INSERT [dbo].[ServiceImage] ([id], [image_url], [service_id ], [created_at], [last_update]) VALUES (N'eb2d8387-510d-4ce8-9493-0f6ead12a5a3', N'https://res-console.cloudinary.com/dao2comxx/thumbnails/v1/image/upload/v1743637596/ZzMyMjlmeGpkbHdxb3owa2RqbmM=/drilldown', N'5e691440-b613-4d82-a0da-772d2c5a8d78', CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2), CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2))
INSERT [dbo].[ServiceImage] ([id], [image_url], [service_id ], [created_at], [last_update]) VALUES (N'42b9824c-ff03-4ff1-8bad-1d41b69a3921', N'https://res-console.cloudinary.com/dao2comxx/thumbnails/v1/image/upload/v1743637596/cHFzdjMyYm45aGkxdHNjY29rN2Y=/drilldown', N'8c892d4f-f501-478c-b043-e9e6acde5b7b', CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2), CAST(N'2025-04-03T07:39:23.9461120' AS DateTime2))
GO
INSERT [dbo].[ServiceSkinType] ([ServicesId], [SkinTypesId]) VALUES (N'a01e6005-160f-4d95-b59c-0b34b928ca04', N'e587c5e7-1584-4714-ad40-128a38fc7c2f')
INSERT [dbo].[ServiceSkinType] ([ServicesId], [SkinTypesId]) VALUES (N'a01e6005-160f-4d95-b59c-0b34b928ca04', N'8c1f2003-65df-441c-b23a-2d363a376ef5')
INSERT [dbo].[ServiceSkinType] ([ServicesId], [SkinTypesId]) VALUES (N'a01e6005-160f-4d95-b59c-0b34b928ca04', N'98697bab-8303-47e4-b5c7-2fdcf5ee34bd')
GO
INSERT [dbo].[SkinType] ([id], [name], [description], [created_at], [last_update]) VALUES (N'e587c5e7-1584-4714-ad40-128a38fc7c2f', N'Normal', N'Balanced skin that is not too oily or dry, and generally feels smooth and healthy.', CAST(N'2024-04-01T16:26:21.0000000' AS DateTime2), CAST(N'2024-04-02T15:06:37.0000000' AS DateTime2))
INSERT [dbo].[SkinType] ([id], [name], [description], [created_at], [last_update]) VALUES (N'8c1f2003-65df-441c-b23a-2d363a376ef5', N'Combination', N'A mix of both dry and oily areas, often with an oily T-zone and dry cheeks.', CAST(N'2024-04-01T16:12:49.0000000' AS DateTime2), CAST(N'2024-04-08T21:30:04.0000000' AS DateTime2))
INSERT [dbo].[SkinType] ([id], [name], [description], [created_at], [last_update]) VALUES (N'98697bab-8303-47e4-b5c7-2fdcf5ee34bd', N'Sensitive', N'Skin prone to irritation, redness, and reactions from various skincare products or environmental factors.', CAST(N'2024-04-01T16:17:53.0000000' AS DateTime2), CAST(N'2024-04-08T00:44:55.0000000' AS DateTime2))
GO
INSERT [dbo].[Therapist] ([id], [experiences], [bio], [status], [user_id], [created_at], [last_update]) VALUES (N'd0fa1b49-5dcd-483c-af6f-173570d9b74a', 5, N'Corpus nihil referatur, ista sua sponte et per se esset et virtus et cognitio rerum, quod minime ille vult expetenda. Haec igitur Epicuri non probo, inquam. De cetero vellem equidem aut ipse doctrinis.', N'Suspended', N'1119f3f3-9696-4dd7-9ac1-0de85965ef01', CAST(N'2024-04-01T16:21:51.0000000' AS DateTime2), CAST(N'2024-04-07T20:32:09.0000000' AS DateTime2))
INSERT [dbo].[Therapist] ([id], [experiences], [bio], [status], [user_id], [created_at], [last_update]) VALUES (N'878ca8ab-7c6a-4f25-a170-1b0798ef1eec', 2, N'Nobis probaretur, sed etiam effectrices sunt voluptatum tam amicis quam sibi, quibus non solum praesentibus fruuntur, sed etiam spe eriguntur consequentis ac posteri temporis. Quod quia nullo modo poterimus sensuum iudicia defendere. Quicquid.', N'Not Available', N'5f2f9c16-cdef-4488-b2de-105cfbd6d90b', CAST(N'2024-04-01T16:43:50.0000000' AS DateTime2), CAST(N'2024-04-09T06:16:20.0000000' AS DateTime2))
INSERT [dbo].[Therapist] ([id], [experiences], [bio], [status], [user_id], [created_at], [last_update]) VALUES (N'9df66acf-4171-4f80-8362-24b3360b337f', 5, N'Spe eriguntur consequentis ac posteri temporis. Quod quia nullo modo nec divelli nec distrahi possint, sic de iustitia.', N'On Leave', N'23533e0f-7864-4a5c-a230-136a6ba2249f', CAST(N'2024-04-01T17:04:16.0000000' AS DateTime2), CAST(N'2024-04-02T19:49:41.0000000' AS DateTime2))
GO
INSERT [dbo].[Transaction] ([id], [transaction_time], [amount], [is_refund], [status], [booking_id], [created_at], [last_update]) VALUES (N'fc6b9cb2-11bf-4896-af39-4cd244575cab', CAST(N'2025-04-05T07:53:57.4442780' AS DateTime2), CAST(115.00 AS Decimal(16, 2)), 0, 0, N'a909ca76-1bec-4a41-bc23-99af8f20460e', CAST(N'2025-04-05T07:53:57.4442746' AS DateTime2), CAST(N'2025-04-05T07:53:57.4442770' AS DateTime2))
INSERT [dbo].[Transaction] ([id], [transaction_time], [amount], [is_refund], [status], [booking_id], [created_at], [last_update]) VALUES (N'df3d769d-f9e8-42fe-9fc9-60378364235d', CAST(N'2025-04-05T07:56:51.5247784' AS DateTime2), CAST(110.00 AS Decimal(16, 2)), 0, 0, N'f12ebabf-dd70-4f8d-b587-bd08420c79d6', CAST(N'2025-04-05T07:56:51.5247743' AS DateTime2), CAST(N'2025-04-05T07:56:51.5247767' AS DateTime2))
INSERT [dbo].[Transaction] ([id], [transaction_time], [amount], [is_refund], [status], [booking_id], [created_at], [last_update]) VALUES (N'c986bd6e-572c-4124-a145-b1a89fbd4f33', CAST(N'2025-04-05T08:13:53.0173249' AS DateTime2), CAST(85.00 AS Decimal(16, 2)), 0, 0, N'21da5f04-e1fd-477d-9043-9945b6bb9154', CAST(N'2025-04-05T08:13:53.0173222' AS DateTime2), CAST(N'2025-04-05T08:13:53.0173242' AS DateTime2))
GO
INSERT [dbo].[User] ([id], [fullname], [username], [email], [password], [avatar], [gender], [phone_number], [role], [status], [created_at], [last_update]) VALUES (N'c1403e86-d1a6-439a-a845-006287a20881', N'Admin', N'Admin', N'admin@gmail.com', N'QqHxuyutVPFkYjdlMOfVER8hV0y6n6d44yKZFoLnm0vU46ZjXS1IRI3Ze/aq7nT4gsHAjN+KqR0=', N'https://product.hstatic.net/1000069970/product/9_2ca4c9ad986041809fbc7707760324d3_large.png', 1, N'2105566799', 0, 1, CAST(N'2024-04-01T07:20:32.0000000' AS DateTime2), CAST(N'2024-04-09T23:17:19.0000000' AS DateTime2))
INSERT [dbo].[User] ([id], [fullname], [username], [email], [password], [avatar], [gender], [phone_number], [role], [status], [created_at], [last_update]) VALUES (N'097de492-6036-47ad-8b21-00a0f48d55e3', N'Manager1', N'Manager1', N'manager1@gmail.com', N'QqHxuyutVPFkYjdlMOfVER8hV0y6n6d44yKZFoLnm0vU46ZjXS1IRI3Ze/aq7nT4gsHAjN+KqR0=', N'https://product.hstatic.net/1000069970/product/9_2ca4c9ad986041809fbc7707760324d3_large.png', 0, N'5132246987', 1, 1, CAST(N'2024-04-01T14:15:52.0000000' AS DateTime2), CAST(N'2024-04-09T21:12:06.0000000' AS DateTime2))
INSERT [dbo].[User] ([id], [fullname], [username], [email], [password], [avatar], [gender], [phone_number], [role], [status], [created_at], [last_update]) VALUES (N'0d4a41ba-7eeb-4ec2-b244-011a0f69966c', N'Manager2', N'Manager2', N'manager2@gmail.com', N'QqHxuyutVPFkYjdlMOfVER8hV0y6n6d44yKZFoLnm0vU46ZjXS1IRI3Ze/aq7nT4gsHAjN+KqR0=', N'https://product.hstatic.net/1000069970/product/9_2ca4c9ad986041809fbc7707760324d3_large.png', 1, N'3304796483', 1, 1, CAST(N'2024-04-01T12:40:29.0000000' AS DateTime2), CAST(N'2024-04-08T09:35:12.0000000' AS DateTime2))
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_User_UserNavigationId] FOREIGN KEY([UserNavigationId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_User_UserNavigationId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service_service_id] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Service_service_id]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Therapist_therapist_id] FOREIGN KEY([therapist_id])
REFERENCES [dbo].[Therapist] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Therapist_therapist_id]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User_user_id]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Booking_booking_id] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Booking_booking_id]
GO
ALTER TABLE [dbo].[QuestionOption]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOption_Question_question_id] FOREIGN KEY([question_id])
REFERENCES [dbo].[Question] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionOption] CHECK CONSTRAINT [FK_QuestionOption_Question_question_id]
GO
ALTER TABLE [dbo].[QuestionOptionSkinType]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOptionSkinType_QuestionOption_QuestionOptionNavigationId] FOREIGN KEY([QuestionOptionNavigationId])
REFERENCES [dbo].[QuestionOption] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionOptionSkinType] CHECK CONSTRAINT [FK_QuestionOptionSkinType_QuestionOption_QuestionOptionNavigationId]
GO
ALTER TABLE [dbo].[QuestionOptionSkinType]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOptionSkinType_SkinType_SkinTypeNavigationId] FOREIGN KEY([SkinTypeNavigationId])
REFERENCES [dbo].[SkinType] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionOptionSkinType] CHECK CONSTRAINT [FK_QuestionOptionSkinType_SkinType_SkinTypeNavigationId]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_ServiceCategory_service_category_id] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[ServiceCategory] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_ServiceCategory_service_category_id]
GO
ALTER TABLE [dbo].[ServiceImage]  WITH CHECK ADD  CONSTRAINT [FK_ServiceImage_Service_service_id ] FOREIGN KEY([service_id ])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[ServiceImage] CHECK CONSTRAINT [FK_ServiceImage_Service_service_id ]
GO
ALTER TABLE [dbo].[ServiceSkinType]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSkinType_Service_ServicesId] FOREIGN KEY([ServicesId])
REFERENCES [dbo].[Service] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceSkinType] CHECK CONSTRAINT [FK_ServiceSkinType_Service_ServicesId]
GO
ALTER TABLE [dbo].[ServiceSkinType]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSkinType_SkinType_SkinTypesId] FOREIGN KEY([SkinTypesId])
REFERENCES [dbo].[SkinType] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceSkinType] CHECK CONSTRAINT [FK_ServiceSkinType_SkinType_SkinTypesId]
GO
ALTER TABLE [dbo].[Therapist]  WITH CHECK ADD  CONSTRAINT [FK_Therapist_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Therapist] CHECK CONSTRAINT [FK_Therapist_User_user_id]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Booking_booking_id] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Booking_booking_id]
GO
USE [master]
GO
